ion-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 4vw;
}

ion-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.reloadButton {
  position: fixed;
  z-index: 1;
  bottom: 8px;
  right: 16px;
  --border-radius: 100%;
  height: 50px;
  width: 50px;
}

.scanRecompenseButton {
  position: fixed;
  z-index: 1;
  bottom: 8px;
  left: 10px;
  --border-radius: 10px;
  height: 50px;
  width: 75%;
  font-weight: 900;
  font-size: 1em;
}
