<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recompenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-button class="scanRecompenseButton" (click)="scanRecompense()">Escanejar Recompensa</ion-button>
      <ion-button class="reloadButton" (click)="loadRecompenses()"><fa-icon [icon]="faSyncAlt" size="2x"></fa-icon></ion-button>
      <ion-col *ngIf="!loading">
        <app-recompense-card *ngFor="let recompense of recompenses" (onDesactivated)="loadRecompenses()" [recompense]="recompense"></app-recompense-card>
      </ion-col>
      <ion-icon *ngIf="loading" style="font-size: 3.8em; width: 100%; margin-top: .6em;" src="assets/svgs/puff.svg"></ion-icon>
    </ion-row>
  </ion-grid>
</ion-content>
