<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial de transaccions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-button (click)="loadTransactions()"><fa-icon [icon]="faSyncAlt" size="2x"></fa-icon></ion-button>
      <ion-col>
        <app-transaction-card *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
