<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Escaneja als compradors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="d-flex flex-column ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <input type="number" name="payedAmount" placeholder="0.00€" value="{{ inputValue }}" (input)="onInputChange($event)" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="d-flex ion-justify-content-center" size="11">
        <ng-template ></ng-template>
        <ion-button *ngIf="!inputValue || inputValue <= 0" disabled="true">Escanejar QR</ion-button>
        <ion-button *ngIf="inputValue > 0" (click)="scan()">Escanejar QR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="data && data.text != ''">
    <app-confirm-popup (onCancel)="cancelTransaction()" [amount]="inputValue" [data]="data.text"></app-confirm-popup>
  </div>
  <!-- <ion-card>
    <ion-card-content>
      <ion-text>This section shows the demo of how to scan a QRCode or Barcode to get the information</ion-text>

      <ion-button color="success" expand="full" (click)="scan()">Scan code</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="data">
    <ion-label position="stacked">Scan Format</ion-label>
    <ion-input [value]="data.format" readonly></ion-input>
  </ion-item>
  <ion-item *ngIf="data">
    <ion-label position="stacked">Scan Information</ion-label>
    <ion-input [value]="data.text" readonly></ion-input>
  </ion-item> -->
</ion-content>
